version: 2
references:
  build_directory: &build_directory
    '/built-library'

  dist_folder: &dist_folder
    '/built-library/dist'

  node_image: &node_image
    working_directory: *build_directory
    docker:
      - image: "node:10"

jobs:
  transpile_library:
    <<: *node_image
    steps:
      - checkout
      - run: npm install
      - run: npm install -g typescript
      - run: tsc -p .
      - persist_to_workspace:
          root: *build_directory
          paths:
            - "*"
    environment:
      OUT_DIR: *build_directory
      DIST_FOLDER: *dist_folder

  publish_to_npm:
    <<: *node_image
    steps:
      - checkout
      - attach_workspace:
          at: *build_directory
      - run: cp package.json $DIST_FOLDER
      - run: npm install
      - run:
          name: Authenticate w/NPM.
          command: echo "//registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN" > .npmrc
      - run:
          name: Publish the library.
          command: npm publish $DIST_FOLDER
    environment:
      OUT_DIR: *build_directory
      DIST_FOLDER: *dist_folder


workflows:
  version: 2
  deploy_library:
    jobs:
      - transpile_library
      - publish_to_npm:
          requires:
            - transpile_library
          filters:
            branches:
              only:
                - master
